:root {
  --dark-teal: rgb(28, 84, 80);
  --darker-teal: rgb(17, 54, 52);
  --light-teal: rgb(57, 149, 143);
  --text-light: aliceblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  min-height: 100vh;
  background-image: url("restaurant.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px 400px;
}
a {
  color: var(--text-light);
  text-decoration: none;
  padding: 0px;
}
.nav {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}
.logo {
  color: var(--darker-teal);
}
.second-nav a {
  background-color: var(--dark-teal);
  width: 100%;
  padding: 10px 30px;
}
.white-link {
  background-color: var(--text-light);
  color: rgb(28, 84, 80);
  padding: 8px 5px;
  font-size: 1.6rem;
}
.teal-link {
  background-color: rgb(28, 84, 80);
  color: var(--text-light);
  padding: 8px 5px;
  font-size: 1.2rem;
  display: inline-block;
}
.active {
  background-color: var(--text-light) !important;
  color: rgb(28, 84, 80);
}
.highlight {
  background-color: var(--dark-teal) !important;
}
.content {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.content h3 {
  background-color: var(--dark-teal);
  font-size: 1.8rem;
  color: var(--text-light);
  padding: 8px 5px;
  display: block;
}
